.loginSection {
    background: url('../../../assets/images/loginImage.jpg') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 20% 60% 20%;
    justify-items: center;
    align-items: center;

    .gray-modal {
        display: block;
        height: 75%;
        width: 75%;
        background-color: rgba(240,240,240,0.80);
        grid-column: 2;
        grid-row: 2;
        border-radius: 10px;

        .modal {
            position: relative;
            top: 5px;
            left: 5px;
            height: calc(100% - 10px);
            width: calc(100% - 10px);
            background-color: rgba(255,255,255,0.60);
            border-radius: 10px;

            .login {
                display: flex;
                height: 100%;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .title {
                    font-size: 1.5em;
                    font-weight: bold;
                    color: rgb(63, 81, 181);
                }

                .inputs {
                    width: 75%;
                }
            }
        }

    }
}
