<div class="loginSection">
    <div class="gray-modal">
        <div class="modal">
            <form [formGroup]="loginForm" class="login">

                <div class="title">
                    Log in to FrascOS
                </div>

                <mat-form-field class="inputs">
                    <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>

                <mat-form-field class="inputs">
                    <input matInput placeholder="Password" formControlName="password">
                </mat-form-field>

                <div class="submitButton">
                    <button type="submit" mat-button>Send</button>
                </div>

            </form>
        </div>
    </div>
</div>
