/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
app-root {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}
